.social-button {
    display: inline-block;
    margin: 0.5rem;
}

#content-container {
    color: #4b4b4b;
    max-width: 7em;
    font-size: 72px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-height: 480px) {
    #content-container {
        max-width: 11em;
    }
}

.fa-fw {
    vertical-align: -13%;
}

.footer {
    color: #4b4b4b;
}